{% load static tailwind_tags i18n %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="theme-color" content="#000000">

    {% block opengraph %}
      <meta property="og:url" content="/">
    	<meta property="og:site_name" content="ZJUMAA Big Data Heritage Platform">
    	<meta property="og:image" content="//static/img/social_share.jpg">
    	<meta property="og:description" content="">
      <meta property="og:type" content="website">
    {% endblock %}


    <title>
      {% block title %}{% endblock %}
    </title>

    <link rel="shortcut icon" href="/static/img/favicon.ico">

		{% tailwind_css %}
  </head>

  <body class="{{body_class}}">
    {% block header %}
      {% include "partials/header.twig" %}
    {% endblock %}

    <div class="min-h-full">
      {% include 'partials/sidebar.twig' %}
      {% block content %}{% endblock %}
    </div>

    {% block footer %}
    {% endblock %}

    {# include 'partials/av_player.twig' #}

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script async defer="defer" src="{% static 'js/site.js' %}" type="text/javascript"></script>
  </body>
</html>
