{% extends "base.twig" %}
{% load linebreaks_wp %}
{% load i18n %}


{% block title %}
  {{collection.title}} | {% trans "ZJUMAA" %}
{% endblock %}

{% block opengraph %}
  <meta property="og:url" content="{{ request.build_absolute_uri }}">
	<meta property="og:site_name" content="{{collection.title}} | {% trans 'ZJUMAA' %}">
	<meta property="og:image" content="/static/img/{{cover_image}}">
	<meta property="og:image:alt" content="">
  {% if collection.description %}
  	<meta property="og:description" content="{{collection.description|striptags|truncatewords_html:120}}">
  {% else %}
  	<meta property="og:description" content="">
  {% endif %}
  <meta property="og:type" content="website">
{% endblock %}

{% block content %}
<div class="lg:pl-64 flex flex-col flex-1">
  <main class="flex-1 pb-8">
    <div class="py-8 lg:py-16 px-8 lg:px-16 min-h-screen">

      <h1 class="text-xl">{{collection.title}}</h1>
      <div class="py-2">
        {{collection.description|safe|linebreaks_wp}}
      </div>


      <h2 class="max-w-6xl mx-auto mt-8 px-4 text-lg leading-6 font-medium text-gray-900 sm:px-6 lg:px-8">{% trans "Items" %}</h2>

      <div class="block pt-4">
        <div class="w-full mx-auto px-4 sm:px-6 lg:px-8">
          <div class="flex flex-col mt-4">
            <div class="align-middle min-w-full overflow-x-auto shadow overflow-hidden sm:rounded-lg">
              <table class="min-w-full divide-y divide-gray-200">
                <thead>
                  <tr>
                    <th class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">{% trans "Title" %}</th>
                    <th class="px-6 py-3 bg-gray-50 text-right text-xs font-medium text-gray-500 uppercase tracking-wider">{% trans "View" %}</th>
                  </tr>
                </thead>
                <tbody class="bg-white divide-y divide-gray-200">
                  {% for item in collection.items.all %}
                    <tr class="bg-white">
                      <td class="max-w-0 w-full px-6 py-4 whitespace-nowrap text-sm text-gray-900">
                        <div class="flex">
                          <a href="/items/{{item.id}}/{{item.title|slugify}}" class="group inline-flex space-x-2 truncate text-sm">
                            <!-- Heroicon name: solid/cash -->
                            <svg class="flex-shrink-0 h-5 w-5 text-gray-400 group-hover:text-gray-500" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 20 20" fill="currentColor" aria-hidden="true">
                              <path fill-rule="evenodd" d="M4 4a2 2 0 00-2 2v4a2 2 0 002 2V6h10a2 2 0 00-2-2H4zm2 6a2 2 0 012-2h8a2 2 0 012 2v4a2 2 0 01-2 2H8a2 2 0 01-2-2v-4zm6 4a2 2 0 100-4 2 2 0 000 4z" clip-rule="evenodd"/>
                            </svg>
                            <p class="text-gray-500 truncate group-hover:text-gray-900">{{item.title}}</p>
                          </a>
                        </div>
                      </td>
                      <td class="px-6 py-4 text-right whitespace-nowrap text-sm text-gray-500">
                        <a href="/items/{{item.id}}/{{item.title|slugify}}">
                          {% trans "View" %}
                        </a>
                      </td>
                    </tr>
                  {% endfor %}

                  <!-- More transactions... -->
                </tbody>
              </table>
              <!-- Pagination -->
              <div class="py-4">
                {% include 'partials/pagination.twig' %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
{% endblock %}
