{% extends "base.twig" %}
{% load split %}
{% load humanize %}
{% load i18n %}

{% block title %}
  {% if request.GET.s and request.GET.s|length %}
    {{request.GET.s}}
  {% elif request.GET.Tags and request.GET.Tags|length %}
    {{request.GET.Tags|title}}
  {% else %}
    {% trans "Search" %}
  {% endif %}
  | {% trans "ZJUMAA" %}
{% endblock %}

{% block opengraph %}
  <meta property="og:url" content="{{ request.build_absolute_uri }}">
<meta property="og:title" content="{% if request.GET.s and request.GET.s|length %}{{request.GET.s}}{% else %}Search{% endif %} | {% trans 'ZJUMAA' %}">
  <meta property="og:image" content="/static/img/ZJUMAA-Logo.png">
  <meta property="og:description" content="">
  {% for collection in collections %}
    {% if collection.files.all|length %}
      {% for file in collection.files.all %}
        {% if "image" in file.mime_type %}
          <meta property="og:image" content="https://zju.edu.cn/{{file.filename}}/full/full/0/default.jpg">
        {% elif "audio" in file.mime_type %}
          <meta property="og:audio" content="https://s3.amazonaws.com/zjumaa/{{file.filename}}">
        {% elif "video" in file.mime_type %}
          <meta property="og:video" content="https://s3.amazonaws.com/zjumaa/{{file.filename}}">
        {% endif %}
      {% endfor %}
    {% endif %}
  {% endfor %}
  <meta property="og:type" content="website">
{% endblock %}

{% block header %}
  {% include "partials/header.twig" with on_light_bg=True %}
{% endblock %}

{% block content %}
<div class="lg:pl-64 flex flex-col flex-1">
  <main class="flex-1 pb-8">
    <div class="py-8 lg:py-16 px-8 lg:px-16 min-h-screen">
      <form id="search" action="/search">
        <div class="flex collections-center justify-center w-full mx-auto border-b-2 border-gray-300  hover:border-theme-700">
          <button class="hidden md:block">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewbox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"/>
            </svg>
          </button>
          <input
            type="text"
            name="s"
            class="w-full md:mx-8 border-none outline-none focus:border-0 focus:border-transparent focus:outline-none text-md md:text-md font-sans font-extralight p-2 focus:ring-0 focus:ring-transparent placeholder-gray-300 bg-white"
            style="outline:none"
            placeholder="Search . . . "
            value="{{request.GET.s}}"/>
          <a href="/search/" class="font-sans-bold uppercase text-xs tracking-widest text-gray-500 hover:text-theme-700">
            Clear
          </a>
        </div>

        {% if request.GET.Tags %}
          <div class="w-full py-6 flex flex-wrap">
            <a href="/search/" class="bg-theme-200 hover:opacity-90 px-4 py-2 flex collections-center justify-between">
              <span class="block uppercase text-sm font-sans-bold text-gray-600">
                {{request.GET.Tags}}
              </span>
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-gray-600 pl-2 block" fill="none" viewbox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"/>
              </svg>
            </a>
          </div>
        {% endif %}
      </form>

      <div class="block pt-4">
        <div class="w-full mx-auto px-4 sm:px-6 lg:px-8">
          <div class="flex flex-col mt-4">
            <div class="align-middle min-w-full overflow-x-auto shadow overflow-hidden sm:rounded-lg">
              <table class="min-w-full divide-y divide-gray-200">
                <thead>
                  <tr>
                    <th class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">{% trans "Title" %}</th>
                    <th class="px-6 py-3 bg-gray-50 text-right text-xs font-medium text-gray-500 uppercase tracking-wider">{% trans "View" %}</th>
                  </tr>
                </thead>
                <tbody class="bg-white divide-y divide-gray-200">
                  {% for collection in current_page.object_list %}
                    <tr class="bg-white">
                      <td class="max-w-0 w-full px-6 py-4 whitespace-nowrap text-sm text-gray-900">
                        <div class="flex">
                          <a href="/collections/{{collection.id}}/{{collection.title|slugify}}" class="group inline-flex space-x-2 truncate text-sm">
                            <!-- Heroicon name: solid/cash -->
                            <svg class="flex-shrink-0 h-5 w-5 text-gray-400 group-hover:text-gray-500" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 20 20" fill="currentColor" aria-hidden="true">
                              <path fill-rule="evenodd" d="M4 4a2 2 0 00-2 2v4a2 2 0 002 2V6h10a2 2 0 00-2-2H4zm2 6a2 2 0 012-2h8a2 2 0 012 2v4a2 2 0 01-2 2H8a2 2 0 01-2-2v-4zm6 4a2 2 0 100-4 2 2 0 000 4z" clip-rule="evenodd"/>
                            </svg>
                            <p class="text-gray-500 truncate group-hover:text-gray-900">{{collection.title}}</p>
                          </a>
                        </div>
                      </td>
                      <td class="px-6 py-4 text-right whitespace-nowrap text-sm text-gray-500">
                        <a href="/collections/{{collection.id}}/{{collection.title|slugify}}">
                          {% trans "View" %}
                        </a>
                      </td>
                    </tr>
                  {% endfor %}

                  <!-- More transactions... -->
                </tbody>
              </table>
              <!-- Pagination -->
              <div class="py-4">
                {% include 'partials/pagination.twig' %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
{% endblock %}
