{% extends "base.twig" %}
{% load unidecode_slugify %}
{% load linebreaks_wp %}
{% load i18n %}

{% block title %}
  {{item.title}}
  |
  {% trans "ZJUMAA" %}
{% endblock %}

{% block opengraph %}
  <meta property="og:url" content="{{ request.build_absolute_uri }}">
  <meta property="og:title" content="{{item.title}}">
  <meta property="og:title" content="ZJUMAA">
  {% if files and files|length %}

    {% for file in files %}
      {# in case the file server needs to support iiif or different handling for audio/video sources #}
      {% if "image" in file.mime_type %}
        <meta property="og:image" content="/static/img/{{file.filename}}">
      {% elif "audio" in file.mime_type %}
        <meta property="og:audio" content="/static/img/{{file.filename}}">
      {% elif "video" in file.mime_type %}
        <meta property="og:video" content="/static/img/{{file.filename}}">
      {% endif %}
    {% endfor %}

  {% else %}
    <meta property="og:image" content="/static/img/ZJUMAA-Logo.png">
  {% endif %}
  <meta property="og:image:alt" content="">

  {% if item.description %}
    <meta property="og:description" content="{{item.description|striptags}}">
  {% endif %}
  <meta property="og:type" content="website">
{% endblock %}

{% block header %}
  {% include "partials/header.twig" with on_light_bg=True %}
{% endblock %}

{% block content %}
  <div class="lg:pl-64 flex flex-col flex-1">
    <main class="flex-1 pb-8">
      <article class="item bg-white pt-20 w-full" data-id="{{item.id}}" data-type="item">
        <div class="flex flex-wrap items-center justify-center w-full">
          {% if first_file %}
            <div id="main_viewer" class="flex flex-wrap items-center justify-center w-full">
              {% if "image" in first_file.mime_type %}
                <div class="image-container flex flex-wrap items-center justify-center mb-4 w-full">
                  <img id="main_image" class="media-viewer-main w-10/12 max-w-7xl m-2 object-scale-down cursor-zoom-in" src="{{IIIF_SERVER}}/{{first_file.filename}}/full/1000,/0/default.jpg" data-filename="{{first_file.filename}}" alt="{{first_file.title}}"/>
                </div>
              {% elif "video" in first_file.mime_type %}
                <video id="main_video" class="video-viewer-main max-w-prose m-8 w-full bg-black" src="https://s3.amazonaws.com/{{AWS_STORAGE_BUCKET_NAME}}/{{first_file.filename}}" alt="{{first_file.title}}" controls="controls"/>
              {% elif "audio" in first_file.mime_type %}
                <audio id="main_audio" class="audio-viewer-main max-w-prose m-8 w-full" src="https://s3.amazonaws.com/{{AWS_STORAGE_BUCKET_NAME}}/{{first_file.filename}}" alt="{{first_file.title}}" controls="controls"/>
              {% endif %}
            </div>
          {% endif %}
          {% if files and files|length > 1 %}
            <div id="thumbnails" class="my-4 flex align-center justify-center max-w-prose w-full">
              {% for file in files %}
                {% if "image" in file.mime_type %}
                  <img
                    class="media-viewer-thumbnail {% if file.id == first_file.id %}opacity-100{% else %}opacity-50{% endif %} hover:opacity-100 m-2 w-12 h-12 object-cover cursor-pointer"
                    src="//zju.edu.cn/{{file.filename}}/full/100,/0/default.jpg"
                    alt="{{file.title}}"
                    data-type="image"
                    data-src="//zju.edu.cn/{{file.filename}}/full/1000,/0/default.jpg"
                    data-filename="{{file.filename}}"
                  />
                {% elif "video" in file.mime_type %}
                  <div
                    class="media-viewer-thumbnail {% if file.id == first_file.id %}opacity-100{% else %}opacity-50{% endif %} hover:opacity-100 m-2 w-12 h-12 bg-theme-500 hover:bg-theme-700 cursor-pointer flex justify-center items-center"
                    data-type="video"
                    data-src="https://s3.amazonaws.com/zjumaa/{{file.filename}}">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mx-auto my-auto flex justify-center items-center" fill="none" viewbox="0 0 24 24" stroke="#E4E1D9">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 10l4.553-2.276A1 1 0 0121 8.618v6.764a1 1 0 01-1.447.894L15 14M5 18h8a2 2 0 002-2V8a2 2 0 00-2-2H5a2 2 0 00-2 2v8a2 2 0 002 2z"/>
                    </svg>
                  </div>
                {% elif "audio" in file.mime_type %}
                  <div
                    class="media-viewer-thumbnail {% if file.id == first_file.id %}opacity-100{% else %}opacity-50{% endif %} hover:opacity-100 m-2 w-6 h-6 bg-theme-500 hover:bg-theme-700 cursor-pointer flex justify-center items-center"
                    data-type="audio"
                    data-src="https://s3.amazonaws.com/zjumaa/{{file.filename}}">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mx-auto my-auto flex justify-center items-center" fill="none" viewbox="0 0 24 24" stroke="#E4E1D9">
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M15.536 8.464a5 5 0 010 7.072m2.828-9.9a9 9 0 010 12.728M5.586 15H4a1 1 0 01-1-1v-4a1 1 0 011-1h1.586l4.707-4.707C10.923 3.663 12 4.109 12 5v14c0 .891-1.077 1.337-1.707.707L5.586 15z"/>
                    </svg>
                  </div>
                {% endif %}
              {% endfor %}
            </div>
          {% endif %}
        </div>

        <div class="px-8 lg:px-16 w-full max-w-7xl mx-auto flex flex-wrap md:flex-nowrap justify-between">

          <div class="text-left pt-12 pb-6 max-w-prose w-full md:w-1/2 ">
            <div class="flex">
              <h1 class="text-3xl ">{{item.title}}</h1>
              {% if item.subtitle %}
                <h3>{{item.subtitle}}</h3>
              {% endif %}
            </div>
          </div>

          <div class="hidden pt-12 pb-6 max-w-prose w-full md:w-1/2 md:text-right md:flex flex-col items-end justify-end">
            <a href="/">
              <img src="/static/img/ZJUMAA-Logo.png" class="h-8" />
            </a>
            <a href="/" class="font-sans-bold text-md mt-2">
              {% trans "ZJUMAA" %}
            </a>
            <span class="font-sans text-sm text-gray-500">
              {% trans "Zhejiang University" %}
            </span>
          </div>


        </div>

        <div class=" px-8 lg:px-16 max-w-7xl mx-auto ">
          <div class="item-description {% if item.description|length > 300 %}item-description--with-cols {% if item.description|length < 600 %}item-description--col-fill{% endif %}{% else %}max-w-prose {% endif %} mb-12 w-full" >
            {{item.description|linebreaks_wp}}
          </div>
          <hr class="my-8 bg-theme-200 h-1 w-1/4"/>
        </div>

        <div class="px-8 lg:px-16 max-w-7xl mx-auto ">
            <div class="flex flex-wrap md:flex-nowrap items-start justify-start w-full max-w-prose " id="details">
              <div class="mr-12 w-40">
                <h3 class="text-2xl lg:text-3xl ">
                  {% trans "Details" %}
                </h3>
              </div>
              <div class="w-full">
                {% include 'partials/item-metafields.twig' %}
              </div>
            </div>

          {% if collections|length %}
            <div class="flex items-start justify-start w-full max-w-prose pt-8 pb-4" id="collections">
              <div class="hidden md:block mr-2 w-40 flex-shrink-0">
            <h3 class="text-2xl lg:text-3xl ">{% trans "Collection" %}{% if collections|length > 1 %}s{% endif %}</h3>
              </div>
              <div class="flex items-start justify-start">
                {% for collection in collections %}
                  <a href="/collections/{{collection.id}}/{{collection.title|unidecode_slugify}}" class="py-3 px-6 mr-4 my-2 inline-block rounded-lg bg-theme-100 font-sans-bold text-base text-theme-800 hover:bg-theme-200 whitespace-nowrap">
                    {{collection.title}}
                  </a>
                {% endfor %}
              </div>
            </div>
          {% endif %}

          <div class="flex md:hidden pt-12 w-full text-left flex-col items-start justify-start">
            <a href="/">
              <img src="/static/img/ZJUMAA-Logo.png" class=" h-10" />
            </a>
            <a href="/" class="font-sans-bold text-md mt-2">
              {% trans "ZJUMAA" %}
            </a>
            <span class="font-sans text-sm text-gray-500">
              {% trans "Zhejiang University" %}
            </span>
          </div>
        </div>

        {% if item.topics.all|length or related_stories|length or related_items|length %}
          <div class="bg-theme-100 pt-8 md:pt-16 mt-8 md:mt-16 pb-8 md:pb-16">
            {% if item.topics.all|length %}
              <div id="topics" class="pb-12">
                <div class="w-100 flex flex-col pt-8 pl-8 lg:pl-16">
                  <h2 class=" font-serif text-2xl lg:text-4xl font-thin mb-4">{% trans "Topics" %}</h2>
                </div>

                {% include 'partials/list-topics.twig' with topics=item.topics.all %}
              </div>
            {% endif %}

            {% if related_stories and related_stories|length %}
              <div id="related_stories" class="pb-12">
                <div class="w-100 flex flex-col pt-8 pl-8 lg:pl-16">
                  <h2 class=" font-serif text-2xl lg:text-4xl font-thin mb-4">{% trans "Read" %}</h2>
                </div>

                <div class="flex items-start justify-start flex-nowrap flex-shrink-0 overflow-x-scroll no-scrollbar pt-8 pl-8 lg:pl-16 pr-48">
                  {% for story in related_stories %}
                    {% include "partials/tease-story.twig" with horizontal_scroll=True %}
                  {% endfor %}
                </div>
              </div>
            {% endif %}

            {% if related_items %}
              {% include 'partials/related-items.twig' %}
            {% endif %}
          </div>
        {% endif %}
      </article>
    </main>
  </div>

  <script type="text/javascript" >
    const initItem = () => {
      initMediaViewer();
    };

    const initMediaViewer = () => {
      console.log('initing media viewer');

      /*
     * Media viewer
     */
      $(document).on("click", ".media-viewer-thumbnail", (e) => {
        e.preventDefault();
        const $main_viewer = $("#main_viewer");
        let $target = $(e.target);
        if (!$target.hasClass("media-viewer-thumbnail")) {
          $target = $target.parents(".media-viewer-thumbnail");
        }

        const data = $target.data();

        let html = '';
        if (data.type === "image") {
          html = `<img id="main_image" class="media-viewer-main w-10/12 max-w-7xl m-2 object-scale-down cursor-zoom-in" src="${data.src}" data-filename="${data.filename}"/>`;
          if ($("#main_viewer .image-container").length) {
            $("#main_viewer .image-container").html(html);
          } else {
            $main_viewer.html(`<div class="image-container flex flex-wrap items-center justify-center mb-4 w-full">
              ${html}
            </div>`);
          }
          window.initOSD(data.filename);
        } else if (data.type === "video") {
          html = `<video id="main_video" class="video-viewer-main max-w-prose m-8 w-full bg-black" src="${data.src}" controls="controls"/>`;
          $main_viewer.html(html);
        } else if (data.type === "audio") {
          html = `<audio id="main_audio" class="audio-viewer-main max-w-prose m-8 w-full" src="${data.src}" controls="controls"/>`;
          $main_viewer.html(html);
        }
        $(".media-viewer-thumbnail").removeClass('opacity-100').addClass('opacity-50');
        $target.addClass('opacity-100').removeClass('opacity-50');
      });
    };

    if (window.addEventListener) {
      window.addEventListener('load', initItem, false);
    } else if (window.attachEvent) {
      window.attachEvent('onload', initItem);
    }
  </script>

  {% include 'partials/modal-osd.twig' %}
{% endblock %}
