{% extends "base.twig" %}
{% load i18n %}

{% block title %}
  {% trans "About | ZJUMAA" %}
{% endblock %}

{% block opengraph %}
  <meta property="og:url" content="{{ request.build_absolute_uri }}">
	<meta property="og:site_name" content="{% trans "About | ZJUMAA" %}">
	<meta property="og:image" content="/static/img/ZJUMAA-Logo.png">
	<meta property="og:image:alt" content="">
	<meta property="og:description" content="{{ project.about_html|striptags|truncatewords_html:120}}" >
  <meta property="og:type" content="website">
{% endblock %}

{% block content %}
	<div class="content-wrapper page page-about">
    {% include 'partials/cover.twig' with title="About" background_image=project.background_image %}
		<article class="post-type-{{post.post_type}} post" id="post-{{post.ID}}">
			<section class="article-content">
				{{ project.about_html|safe }}
			</section>
		</article>
	</div><!-- /content-wrapper -->
	{% include "partials/about_info.twig" %}
{% endblock %}
