@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #001529;
  --accent-color: #1890ff;
  --theme-gray: #C7C7C7;
  --theme-color-100: #ACC3D8;
  --theme-color-200: #8FA6BB;
  --theme-color-300: #73899E;
  --theme-color-400: #566C81;
  --theme-color-500: #394F63;
  --theme-color-600: #1D3246;
  --theme-color-700: #001529;
  --theme-color-800: #000d17;
}

h1, h2, h3, h4, h5 {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
}


body.logged-in.admin-bar .headerExternal {
  top:33px;
}

.-peopleList .CollectionThumbnail {
  width: 230px;
  height:300px;
  min-width: 230px;
  max-width: 230px;
  background-position: center;
}

.-peopleList .CollectionCard a {
  width: 230px;
}

.-peopleList .CollectionCard a.CollectionThumbnailOuter {
  width: 230px;
  min-width: 230px;
  max-width: 230px;
  height: 300px;
}

.home .horizontalListItem:first-child {
  margin-left: 7rem;
}

.home .-horizontalList.-horizontalScroll .tease:first-child {
  margin-left: 6rem;
}

.media-viewer-main, .image-container {
  height: 60vh;
}

.video-viewer-main {
  height: 50vh;
}

.page-cover-height {
  height: 45.125rem;
  min-height: 45.125rem;
}

.full-cover-height {
  height: 45.125rem;
  min-height: 100vh;
}

@media (max-width:600px) {
  .full-cover-height {
    /* height: auto;  */
  }
}

.zjumaa-cover-inner-shadow {
  box-shadow: inset 0 0 40px 0px rgba(0, 0, 0, 1);
}

.zjumaa-hero-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: scale(1.1);
  filter: blur(12px);
  opacity: 0.5;
}

.cover-loaded .zjumaa-hero-background {
  opacity: 1;
  transition: opacity 2s ease-out,transform 5s ease-out, filter 2s ease-out;
  filter: blur(0);
  transform: scale(1);
}

#product-home-hero {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: scale(1.1);
  filter: blur(12px);
  opacity: 1;
}

#product-home-hero.cover-loaded {
  opacity: 1;
  transition: opacity 2s ease-out,transform 5s ease-out, filter 2s ease-out;
  filter: blur(0);
  transform: scale(1);
}

.zjumaa-hero-hr {
  transition: width 800ms ease-out 500ms;
  width: 0px;
  opacity:0;
}

.cover-loaded .zjumaa-hero-hr {
  width: 20rem;
  max-width: 33vw;
  opacity: 1;
}

.zjumaa-story-hr {
  transition: width 1200ms ease-out 800ms;
  width: 0px;
  opacity:0;
}

.cover-loaded .zjumaa-story-hr {
  width: 100vw;
  opacity: 0.5;
}

.cover-loaded .zjumaa-hero-title {
  transition: opacity 800ms ease-out 500ms,transform 800ms ease-out 500ms,text-shadow 800ms ease-out 500ms;
  opacity: 1;
  transform: scale(1);
  text-shadow: 0 0 0px #222;
}

.zjumaa-hero-title {
  transform: scale(0.9);
  opacity: 0;
  color: rgba(255,255,255,0);
  text-shadow: 0 0 20px #222;
}

.cover-loaded .zjumaa-story-title {
  transition: opacity 800ms ease-out 500ms,transform 800ms ease-out 500ms,text-shadow 800ms ease-out 500ms;
  opacity: 1;
  text-shadow: 2px 2px 5px #222;
}

.zjumaa-story-title {
  opacity: 0;
  color: rgba(255,255,255,0);
  text-shadow: 0 0 20px #222;
}

.postsHeader {
  width:100%;
  padding-left: 7rem;
  max-width: none;
}

.illustration {
  filter: grayscale(1);
}

.signUpBackground {
  position: absolute;
  top:0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.signUpBackground .background {
  position: absolute;
  right: 18rem;
  width: 42em;
  opacity: 0.1 !important;
}

.signUpBackground .foreground {
  position: absolute;
  top: 5rem;
  right: 16rem;
  width: 22rem;
  z-index: 99;
}

.signUpBackground .middle {
  position: absolute;
  bottom: -1rem;
  right: 6rem;
  width: 20rem;
  z-index: 98;
  opacity: 0.3 !important;
}

.text-shadow {
  text-shadow: 0 2px 4px rgba(0,0,0,0.6);
}

.ItemThumbnailListContainer {
	width: 100%;
	overflow-x: hidden;
	overflow-y: hidden
}

.ItemThumbnailListContainer.-no-results {
	margin-right: 1rem;
	max-width: 600px;
	padding: 3rem 0;
	text-align: center
}

.ItemThumbnailListContainer .image-wrapper {
	width: 125%;
	max-height: 512px;
	overflow-y: hidden
}

.itemThumbnailDefault,
.ItemThumbnailListContainer .image-wrapper img {
	height: 150px;
	margin: 5px;
	text-align: center;
	color: #616161;
	width: auto;
	display: block;
	max-width: none
}

.ItemThumbnailListContainer .image-wrapper a {
	float: left;
	max-width: 380px;
	overflow: hidden
}

@media (max-width:600px) {
	.ItemThumbnailListContainer .image-wrapper a {
		max-width: 240px
	}
}

.article-text-content p {
  font-size: 18px;
  padding: 0.7rem 0;
}

@-webkit-keyframes animationSkeleton {
	0% {
		-webkit-transform: translateX(-100%);
		transform: translateX(-100%)
	}
	to {
		-webkit-transform: translateX(100%);
		transform: translateX(100%)
	}
}

@keyframes animationSkeleton {
	0% {
		-webkit-transform: translateX(-100%);
		transform: translateX(-100%)
	}
	to {
		-webkit-transform: translateX(100%);
		transform: translateX(100%)
	}
}

@-webkit-keyframes animationFadeIn {
	0% {
		opacity: 0
	}
	to {
		opacity: 1
	}
}

@keyframes animationFadeIn {
	0% {
		opacity: 0
	}
	to {
		opacity: 1
	}
}

@-webkit-keyframes animationFadeOut {
	0% {
		opacity: 1;
		visibility: visible
	}
	to {
		opacity: 0;
		visibility: hidden
	}
}

@keyframes animationFadeOut {
	0% {
		opacity: 1;
		visibility: visible
	}
	to {
		opacity: 0;
		visibility: hidden
	}
}


@-webkit-keyframes animationFadeLoading {
	0% {
		opacity: 0.6;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0.6;
	}
}

@keyframes animationFadeLoading {
	0% {
		opacity: 0.6;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0.6;
	}
}

.skeletonLoading:before {
	-webkit-animation: animationSkeleton 1s infinite;
	animation: animationSkeleton 1s infinite;
	background: -webkit-gradient(linear, left top, right top, from(#E4E1D9), color-stop(30%, #d9d6ce), color-stop(70%, #d9d6ce), to(#E4E1D9));
	background: -webkit-linear-gradient(left, #E4E1D9, #d9d6ce 30%, #d9d6ce 70%, #E4E1D9);
	background: linear-gradient(90deg, #E4E1D9, #d9d6ce 30%, #d9d6ce 70%, #E4E1D9);
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
	width: 100%
}

.fadeInLoading {
	-webkit-animation: animationFadeLoading 1s infinite;
	animation: animationFadeLoading 1s infinite;
}

.josh-js {
  visibility: hidden;
}

.tease img {
  transition: transform 300ms ease-out;
}

.tease:hover img {
  transform:scale(1.05);
}

.drop-cap:first-letter {
  float: left;
  font-size: 4.9em;
  margin: 0 .1em 0 0;
  line-height: 1.05;
  font-family: 'Roboto', sans-serif;
}

@media (max-width:600px) {
  .drop-cap:first-letter {
    font-size: 3.9em;
    margin: 0 .1em 0 0;
    line-height: 1.15;
    font-family: 'Roboto', sans-serif;
  }
}

.story-text p {
  color: #333;
  font-weight: 400;
  font-size: 19px;
  line-height: 1.632;
  letter-spacing: .1px;
  margin-bottom: 2rem;
}

@media (max-width:600px) {
  .story-text p {
    font-size: 17px;
    line-height: 1.587;
    margin-bottom: 1.5rem;
  }
}

.story-annotation-anchor {
  padding: 0px 2px;
}

.story-annotation-anchor i {
  padding: 0 1px;
}

.story-annotation-anchor i::before {
  font-size:14px;
}

#annotations {
  transition: opacity 300ms ease-out;
}

#annotations.loading {
  opacity: 0;
  visibility: hidden;
}

#annotations.loaded {
  opacity: 1;
  visibility: visible;
}

.annotation .learn-more {
  opacity: 0;
  visibility: hidden;
}

.annotation:hover .learn-more,
.annotation.show-learn-more .learn-more {
  opacity: 1;
  visibility: visible;
}

.annotation-modal-content .story-text p {
  font-size: 17px;
  line-height: 1.587;
  margin-bottom: 1.5rem;
}

@-webkit-keyframes circle-outer-circle{
    0%{
        -webkit-transform:scale(1);
        transform:scale(1);
        opacity:.5;
    }
    to{
        -webkit-transform:scale(2);
        transform:scale(2);
        opacity:0;
    }
}

.image-annotation {
  transition: transform, opacity 300ms ease-in-out;
  box-shadow: 0px 0px 10px;
}

.image-annotation:hover {
  -webkit-transform:scale(1.1);
  transform:scale(1.1);
}

.image-annotation .focus-ring {
  transition: opacity 300ms ease-in-out;
}

.image-annotation:hover .focus-ring {
  -webkit-animation:circle-outer-circle .5s 1 ease-out;
  animation:circle-outer-circle .5s 1 ease-out;
  opacity: 0;
}

.annotation-active .image-annotation {
  opacity: 0;
}

.full-section .full-background-image {
  transition: transform 3000ms ease-in-out;
}

.full-section:hover .full-background-image {
  transform: scale(1.1);
}

.full-section .background-screen {
  opacity: 0.5;
  transition: opacity 500ms ease-in-out;
}

.full-section:hover .background-screen {
  opacity: 0.4;
}

.text-input input,
.text-input textarea {
  margin-top: 0.25rem;
  display: block;
  width: 100%;
  border: 2px solid rgb(209 213 219);
  font-size: 0.875rem;
  line-height: 1.25rem;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.05);
  border-radius: 0.375rem;
}

.text-input input:focus,
.text-input textarea:focus {
  border: 2px solid #87806C;
  --tw-ring-color: 2px solid #87806C;
  outline: 0;
}

.text-input.username {
  width: 100%;
}

.text-input.username input {
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
  margin-top: 0px;
}

.text-input.change-pass-form input {

  margin-bottom:0.5rem;
}

.text-input.change-pass-form ul {
  font-size: 12px;
}

.text-input.change-pass-form ul.errorlist {
  margin: 1rem 0 0.25rem;
  font-size: 14px;
  font-weight:bold;
  color: #78715e;
}

.slider-handle {

	position: absolute;

	height: 44px;
	width: 44px;

	/* center the element */
	left: 50%;
	top: 50%;

	margin-left: -22px;
	margin-top: -22px;

	border-radius: 50%;

	background: #87806C url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32"><path fill="%23FFF" d="M13 21l-5-5 5-5m6 0l5 5-5 5"/></svg>') no-repeat center center;
	cursor: move;

	box-shadow: 0 0 0 6px rgba(0, 0, 0, 0.2), 0 0 10px rgba(0, 0, 0, 0.6), inset 0 1px 0 rgba(255, 255, 255, 0.3);
	z-index: 2;

}

@media (max-width:660px) {
  .slider-handle {

  	top: 33%;
  }
}

.slider-handle.draggable {
	background-color: #666256;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.psv-loader-container {
  display: none;
  z-index: -1;
}

.psv-loader {
  opacity: 0;
  visibility: hidden;
  display: none;
}

.psv-loader-canvas,
.psv-loader-text {
  display: none;
}

.item-description p {
  margin-bottom: 1rem;
}

.item-description--with-cols {
  column-count: 2;
  column-gap: 2.5rem;
  column-width: 22rem;
  column-fill: auto;
  /* column-rule: 1px solid #eee; */
}

.item-description--col-fill {
  height: 7rem;
}

.psv-navbar.psv-navbar--open{display: none;}

.intercom-launcher {
  display: none !important;
}
.product-home .intercom-launcher {
  display: block !important;
}
.text-shadow {
  text-shadow: 2px 2px 5px #222;
}

.color-change {
  animation: color-change 1s ease-in-out infinite;
  background: linear-gradient(-45deg, #ffffff, #ffffff, #fff7df);
  background-size: 300%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes color-change {
	0% { background-position: 0px 50%; }
	50% { background-position: 100% 50%; }
	100% { background-position: 0px 50%; }
}

.press-logo {
  filter:  contrast(0.6) brightness(1.7) grayscale(100);
}

.press-logo.brighter {
  filter: contrast(0.6) brightness(2) grayscale(100) ;
}

.press-logo:hover {
  filter: grayscale(0);
}

.tease.story {
  min-width: 0;
}

@media (max-width:600px) {
  .tease.story {
    min-width: 80vw;
  }
}

.scroll-text {
  transition: all ease-in-out 300ms;
}

.scroll-text.scroll-text-active {
  opacity: 1;
  transform: translateY(0px);
}

.scroll-text.scroll-text-pre {
  opacity: 0;
  transform: translateY(100px);
}

.scroll-text.scroll-text-post {
  opacity: 0;
  transform: translateY(-100px);
}
