{% load i18n %}

<div class="relative bg-white">
  <div class="max-w-7xl mx-auto px-4 sm:px-6">
    <div class="flex justify-between items-center  py-6 md:justify-start md:space-x-10">
      <div class="flex justify-start lg:w-0 lg:flex-1">
        <a href="/">
          <span >{% trans "ZJUMAA" %}</span>
        </a>
      </div>
      <div class="hidden md:flex items-center justify-end md:flex-1 lg:w-0">
        <a href="/search" class="mr-4 whitespace-nowrap text-base font-medium text-gray-500 hover:text-gray-900">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
          </svg>
        </a>
        <a href="/login" class="whitespace-nowrap text-base font-medium text-gray-500 hover:text-gray-900">
          {% trans "Sign in" %}
        </a>
        <a href="/sign-up" class="ml-8 whitespace-nowrap inline-flex items-center justify-center px-4 py-2 border border-transparent rounded-md shadow-sm text-base font-medium text-white bg-black hover:bg-gray-700">
          {% trans "Sign up" %}
        </a>

        <script type="text/javascript">
          function selectLanguage() {
            const selectedValue = document.getElementById('languageselect').value;
            document.forms["setlanguage"].submit();
          }
        </script>
        <form id="setlanguage" name="setlanguage" action="{% url 'set_language' %}" method="post" class="ml-4">{% csrf_token %}
            <input name="next" type="hidden" value="{{ redirect_to }}">
            <select id="languageselect" name="language" onchange="selectLanguage();" class=" rounded-lg overflow-hidden border-1">
                {% get_current_language as LANGUAGE_CODE %}
                {% get_available_languages as LANGUAGES %}
                {% get_language_info_list for LANGUAGES as languages %}
                {% for language in languages %}
              <option value="{{ language.code }}"
                        {% if language.code == LANGUAGE_CODE %} selected{% endif %}
                      >
                        {{ language.name_local }}
                    </option>
                {% endfor %}
            </select>
        </form>
      </div>
    </div>
  </div>

</div>
