{% load i18n %}

<div class="itemMetaFields">

  <!-- metafield -->
  <div class="mb-4">
    <div class="mb-2">
      <label class="uppercase text-xs font-sans-bold font-extrabold tracking-widest text-theme-700">
        {% trans "Name" %}
      </label>
    </div>
    <div class="">
      <p>
        {{item.name}}
      </p>
    </div>
  </div>

  <!-- metafield -->
  <div class="mb-4">
    <div class="mb-2">
      <label class="uppercase text-xs font-sans-bold font-extrabold tracking-widest text-theme-700">
        {% trans "Former Name" %}
      </label>
    </div>
    <div class="">
      {{item.former_name}}
    </div>
  </div>

  <!-- metafield -->
  <div class="mb-4">
    <div class="mb-2">
      <label class="uppercase text-xs font-sans-bold font-extrabold tracking-widest text-theme-700">
        {% trans "General Registration Number" %}
      </label>
    </div>
    <div class="">
      {{item.general_registration_number}}
    </div>
  </div>

  <!-- metafield - date -->
  <div class="mb-4">
    <div class="mb-2">
      <label class="uppercase text-xs font-sans-bold font-extrabold tracking-widest text-theme-700">
        {% trans "Accession Date" %}
      </label>
    </div>
    <div class="">
      <p>
        {{item.accession_date|date:"Y"}}
      </p>
    </div>
  </div>

  <!-- metafield -->
  <div class="mb-4">
    <div class="mb-2">
      <label class="uppercase text-xs font-sans-bold font-extrabold tracking-widest text-theme-700">
        {% trans "Museum Registration Number" %}
      </label>
    </div>
    <div class="">
      {{item.museum_registration_number}}
    </div>
  </div>

  <!-- metafield - date -->
  <div class="mb-4">
    <div class="mb-2">
      <label class="uppercase text-xs font-sans-bold font-extrabold tracking-widest text-theme-700">
        {% trans "Date of Admission" %}
      </label>
    </div>
    <div class="">
      <p>
        {{item.date_of_admission|date:"Y"}}
      </p>
    </div>
  </div>

  <!-- metafield -->
  <div class="mb-4">
    <div class="mb-2">
      <label class="uppercase text-xs font-sans-bold font-extrabold tracking-widest text-theme-700">
        {% trans "Classified Number" %}
      </label>
    </div>
    <div class="">
      <p>
        {{item.classified_number}}
      </p>
    </div>
  </div>

  <!-- metafield -->
  <div class="mb-4">
    <div class="mb-2">
      <label class="uppercase text-xs font-sans-bold font-extrabold tracking-widest text-theme-700">
        {% trans "Storage Warehouse" %}
      </label>
    </div>
    <div class="">
      <p>
        {{item.storage_warehouse}}
      </p>
    </div>
  </div>

  <!-- metafield -->
  <div class="mb-4">
    <div class="mb-2">
      <label class="uppercase text-xs font-sans-bold font-extrabold tracking-widest text-theme-700">
        {% trans "Entry Location" %}
      </label>
    </div>
    <div class="">
      <p>
        {{item.entry_location}}
      </p>
    </div>
  </div>

  <!-- metafield -->
  <div class="mb-4">
    <div class="mb-2">
      <label class="uppercase text-xs font-sans-bold font-extrabold tracking-widest text-theme-700">
        {% trans "State" %}
      </label>
    </div>
    <div class="">
      <p>
        {{item.state}}
      </p>
    </div>
  </div>

  <!-- metafield -->
  <div class="mb-4">
    <div class="mb-2">
      <label class="uppercase text-xs font-sans-bold font-extrabold tracking-widest text-theme-700">
        {% trans "Classification" %}
      </label>
    </div>
    <div class="">
      <p>
        {{item.classification}}
      </p>
    </div>
  </div>

  <!-- metafield -->
  <div class="mb-4">
    <div class="mb-2">
      <label class="uppercase text-xs font-sans-bold font-extrabold tracking-widest text-theme-700">
        {% trans "Texture" %}
      </label>
    </div>
    <div class="">
      <p>
        {{item.texture}}
      </p>
    </div>
  </div>

  <!-- metafield -->
  <div class="mb-4">
    <div class="mb-2">
      <label class="uppercase text-xs font-sans-bold font-extrabold tracking-widest text-theme-700">
        {% trans "Rank" %}
      </label>
    </div>
    <div class="">
      <p>
        {{item.rank}}
      </p>
    </div>
  </div>

  <!-- metafield -->
  <div class="mb-4">
    <div class="mb-2">
      <label class="uppercase text-xs font-sans-bold font-extrabold tracking-widest text-theme-700">
        {% trans "Age Type" %}
      </label>
    </div>
    <div class="">
      <p>
        {{item.age_type}}
      </p>
    </div>
  </div>

  <!-- metafield -->
  <div class="mb-4">
    <div class="mb-2">
      <label class="uppercase text-xs font-sans-bold font-extrabold tracking-widest text-theme-700">
        {% trans "Era" %}
      </label>
    </div>
    <div class="">
      <p>
        {{item.era}}
      </p>
    </div>
  </div>

  <!-- metafield -->
  <div class="mb-4">
    <div class="mb-2">
      <label class="uppercase text-xs font-sans-bold font-extrabold tracking-widest text-theme-700">
        {% trans "Traditional Quantity" %}
      </label>
    </div>
    <div class="">
      <p>
        {{item.traditional_quantity}}
      </p>
    </div>
  </div>

  <!-- metafield -->
  <div class="mb-4">
    <div class="mb-2">
      <label class="uppercase text-xs font-sans-bold font-extrabold tracking-widest text-theme-700">
        {% trans "The Actual Amount" %}
      </label>
    </div>
    <div class="">
      <p>
        {{item.the_actual_amount}}
      </p>
    </div>
  </div>

  <!-- metafield -->
  <div class="mb-4">
    <div class="mb-2">
      <label class="uppercase text-xs font-sans-bold font-extrabold tracking-widest text-theme-700">
        {% trans "Volume" %}
      </label>
    </div>
    <div class="">
      <p>
        {{item.volume}}
      </p>
    </div>
  </div>

  <!-- metafield -->
  <div class="mb-4">
    <div class="mb-2">
      <label class="uppercase text-xs font-sans-bold font-extrabold tracking-widest text-theme-700">
        {% trans "Quality" %}
      </label>
    </div>
    <div class="">
      <p>
        {{item.quality}}
      </p>
    </div>
  </div>

  <!-- metafield -->
  <div class="mb-4">
    <div class="mb-2">
      <label class="uppercase text-xs font-sans-bold font-extrabold tracking-widest text-theme-700">
        {% trans "Size" %}
      </label>
    </div>
    <div class="">
      <p>
        {{item.size}}
      </p>
    </div>
  </div>

  <!-- metafield -->
  <div class="mb-4">
    <div class="mb-2">
      <label class="uppercase text-xs font-sans-bold font-extrabold tracking-widest text-theme-700">
        {% trans "Source Method" %}
      </label>
    </div>
    <div class="">
      <p>
        {{item.source_method}}
      </p>
    </div>
  </div>

  <!-- metafield -->
  <div class="mb-4">
    <div class="mb-2">
      <label class="uppercase text-xs font-sans-bold font-extrabold tracking-widest text-theme-700">
        {% trans "Source Number" %}
      </label>
    </div>
    <div class="">
      <p>
        {{item.source_number}}
      </p>
    </div>
  </div>

  <!-- metafield -->
  <div class="mb-4">
    <div class="mb-2">
      <label class="uppercase text-xs font-sans-bold font-extrabold tracking-widest text-theme-700">
        {% trans "Source Unit or Individual" %}
      </label>
    </div>
    <div class="">
      <p>
        {{item.source_unit_or_individual}}
      </p>
    </div>
  </div>

  <!-- metafield -->
  <div class="mb-4">
    <div class="mb-2">
      <label class="uppercase text-xs font-sans-bold font-extrabold tracking-widest text-theme-700">
        {% trans "Chronological Research Information" %}
      </label>
    </div>
    <div class="">
      <p>
        {{item.chronological_research_information}}
      </p>
    </div>
  </div>

  <!-- metafield -->
  <div class="mb-4">
    <div class="mb-2">
      <label class="uppercase text-xs font-sans-bold font-extrabold tracking-widest text-theme-700">
        {% trans "Area Type" %}
      </label>
    </div>
    <div class="">
      <p>
        {{item.area_type}}
      </p>
    </div>
  </div>

  <!-- metafield -->
  <div class="mb-4">
    <div class="mb-2">
      <label class="uppercase text-xs font-sans-bold font-extrabold tracking-widest text-theme-700">
        {% trans "Area" %}
      </label>
    </div>
    <div class="">
      <p>
        {{item.area}}
      </p>
    </div>
  </div>

  <!-- metafield -->
  <div class="mb-4">
    <div class="mb-2">
      <label class="uppercase text-xs font-sans-bold font-extrabold tracking-widest text-theme-700">
        {% trans "Humanistic Type" %}
      </label>
    </div>
    <div class="">
      <p>
        {{item.humanistic_type}}
      </p>
    </div>
  </div>

  <!-- metafield -->
  <div class="mb-4">
    <div class="mb-2">
      <label class="uppercase text-xs font-sans-bold font-extrabold tracking-widest text-theme-700">
        {% trans "Humanities" %}
      </label>
    </div>
    <div class="">
      <p>
        {{item.humanities}}
      </p>
    </div>
  </div>

  <!-- metafield -->
  <div class="mb-4">
    <div class="mb-2">
      <label class="uppercase text-xs font-sans-bold font-extrabold tracking-widest text-theme-700">
        {% trans "Function Category" %}
      </label>
    </div>
    <div class="">
      <p>
        {{item.function_category}}
      </p>
    </div>
  </div>

  <!-- metafield -->
  <div class="mb-4">
    <div class="mb-2">
      <label class="uppercase text-xs font-sans-bold font-extrabold tracking-widest text-theme-700">
        {% trans "Character Biography" %}
      </label>
    </div>
    <div class="">
      <p>
        {{item.character_biography}}
      </p>
    </div>
  </div>

  <!-- metafield -->
  <div class="mb-4">
    <div class="mb-2">
      <label class="uppercase text-xs font-sans-bold font-extrabold tracking-widest text-theme-700">
        {% trans "Morphological Characteristics" %}
      </label>
    </div>
    <div class="">
      <p>
        {{item.morphological_characteristics}}
      </p>
    </div>
  </div>

  <!-- metafield -->
  <div class="mb-4">
    <div class="mb-2">
      <label class="uppercase text-xs font-sans-bold font-extrabold tracking-widest text-theme-700">
        {% trans "Craftsmanship" %}
      </label>
    </div>
    <div class="">
      <p>
        {{item.craftsmanship}}
      </p>
    </div>
  </div>

  <!-- metafield -->
  <div class="mb-4">
    <div class="mb-2">
      <label class="uppercase text-xs font-sans-bold font-extrabold tracking-widest text-theme-700">
        {% trans "Degree of Completeness" %}
      </label>
    </div>
    <div class="">
      <p>
        {{item.degree_of_completeness}}
      </p>
    </div>
  </div>

  <!-- metafield -->
  <div class="mb-4">
    <div class="mb-2">
      <label class="uppercase text-xs font-sans-bold font-extrabold tracking-widest text-theme-700">
        {% trans "Unique Mark" %}
      </label>
    </div>
    <div class="">
      <p>
        {{item.unique_mark}}
      </p>
    </div>
  </div>

  <!-- metafield -->
  <div class="mb-4">
    <div class="mb-2">
      <label class="uppercase text-xs font-sans-bold font-extrabold tracking-widest text-theme-700">
        {% trans "Incomplete Condition" %}
      </label>
    </div>
    <div class="">
      <p>
        {{item.incomplete_condition}}
      </p>
    </div>
  </div>

  <!-- metafield -->
  <div class="mb-4">
    <div class="mb-2">
      <label class="uppercase text-xs font-sans-bold font-extrabold tracking-widest text-theme-700">
        {% trans "Colour" %}
      </label>
    </div>
    <div class="">
      <p>
        {{item.colour}}
      </p>
    </div>
  </div>

  <!-- metafield -->
  <div class="mb-4">
    <div class="mb-2">
      <label class="uppercase text-xs font-sans-bold font-extrabold tracking-widest text-theme-700">
        {% trans "Luster" %}
      </label>
    </div>
    <div class="">
      <p>
        {{item.luster}}
      </p>
    </div>
  </div>

  <!-- metafield -->
  <div class="mb-4">
    <div class="mb-2">
      <label class="uppercase text-xs font-sans-bold font-extrabold tracking-widest text-theme-700">
        {% trans "Type of Text" %}
      </label>
    </div>
    <div class="">
      <p>
        {{item.type_of_text}}
      </p>
    </div>
  </div>

  <!-- metafield -->
  <div class="mb-4">
    <div class="mb-2">
      <label class="uppercase text-xs font-sans-bold font-extrabold tracking-widest text-theme-700">
        {% trans "Font Category" %}
      </label>
    </div>
    <div class="">
      <p>
        {{item.font_category}}
      </p>
    </div>
  </div>

  <!-- metafield -->
  <div class="mb-4">
    <div class="mb-2">
      <label class="uppercase text-xs font-sans-bold font-extrabold tracking-widest text-theme-700">
        {% trans "Handwriting Color" %}
      </label>
    </div>
    <div class="">
      <p>
        {{item.handwriting_color}}
      </p>
    </div>
  </div>

  <!-- metafield -->
  <div class="mb-4">
    <div class="mb-2">
      <label class="uppercase text-xs font-sans-bold font-extrabold tracking-widest text-theme-700">
        {% trans "Search Through" %}
      </label>
    </div>
    <div class="">
      <p>
        {{item.search_through}}
      </p>
    </div>
  </div>

  <!-- metafield -->
  <div class="mb-4">
    <div class="mb-2">
      <label class="uppercase text-xs font-sans-bold font-extrabold tracking-widest text-theme-700">
        {% trans "Unearthed" %}
      </label>
    </div>
    <div class="">
      <p>
        {{item.unearthed}}
      </p>
    </div>
  </div>

  <!-- metafield -->
  <div class="mb-4">
    <div class="mb-2">
      <label class="uppercase text-xs font-sans-bold font-extrabold tracking-widest text-theme-700">
        {% trans "The Current Situation" %}
      </label>
    </div>
    <div class="">
      <p>
        {{item.the_current_situation}}
      </p>
    </div>
  </div>

  <!-- metafield -->
  <div class="mb-4">
    <div class="mb-2">
      <label class="uppercase text-xs font-sans-bold font-extrabold tracking-widest text-theme-700">
        {% trans "Storage Conditions" %}
      </label>
    </div>
    <div class="">
      <p>
        {{item.storage_conditions}}
      </p>
    </div>
  </div>

  <!-- metafield -->
  <div class="mb-4">
    <div class="mb-2">
      <label class="uppercase text-xs font-sans-bold font-extrabold tracking-widest text-theme-700">
        {% trans "Cause of Damage" %}
      </label>
    </div>
    <div class="">
      <p>
        {{item.cause_of_damage}}
      </p>
    </div>
  </div>

  <!-- metafield -->
  <div class="mb-4">
    <div class="mb-2">
      <label class="uppercase text-xs font-sans-bold font-extrabold tracking-widest text-theme-700">
        {% trans "Protection Priority" %}
      </label>
    </div>
    <div class="">
      <p>
        {{item.protection_priority}}
      </p>
    </div>
  </div>

  <!-- metafield -->
  <div class="mb-4">
    <div class="mb-2">
      <label class="uppercase text-xs font-sans-bold font-extrabold tracking-widest text-theme-700">
        {% trans "Protective Measures To Be Taken" %}
      </label>
    </div>
    <div class="">
      <p>
        {{item.protective_measures_to_be_taken}}
      </p>
    </div>
  </div>



</div>
