<div id="modal_viewer" class="hidden fixed top-0 bottom-0 left-0 right-0 bg-white h-screen w-screen z-50">
  <button class="fixed top-12 right-16 z-50 cursor-pointer" onClick="window.hideModal()">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="36" height="36" viewBox="0 0 24 24"><path d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z" /></svg>
  </button>

  <div id="viewer_outer">
    <div id="viewer" class="fixed top-0 bottom-0 left-0 right-0 bg-white h-screen w-screen z-40"></div>
  </div>
</div>

<script type="text/javascript" defer="defer">
  window.initOSD = (tile_sources) => {
    let tileSources = `{{IIIF_SERVER}}/${tile_sources}/info.json`;

    $("#viewer_outer").html('<div id="viewer" class="fixed top-0 bottom-0 left-0 right-0 bg-white h-screen w-screen z-40"></div>');

    const viewer = OpenSeadragon({
      id: 'viewer',
      tileSources: tileSources,
      showZoomControl: false,
      showHomeControl: false,
      showFullPageControl: false,
      showRotationControl: false,
      viewportMargins: {
        bottom: 60,
        top: 60,
        left: 60,
        right: 60
      },
      visibilityRatio: 0.8,
      gestureSettingsMouse: {
        clickToZoom: false,
        dblClickToZoom: true
      },
      defaultZoomLevel: 0,
      visibilityRatio: 0.8
    });
  };

  const initViewer = () => {
      const $main_image = $("#main_image");
      if ($main_image && $main_image.length && $main_image.data().filename) {
        window.initOSD($main_image.data().filename);
      }

      window.hideModal = () => {
        $("#modal_viewer").addClass("hidden");
      }

      $(document).on("click", "#main_image", () => {
        $("#modal_viewer").removeClass("hidden");
      });

      const ESC = 27;
      $(document).on('keydown', (e) => {
        if (e.which === ESC) {
          $(".modal").addClass("hidden");
          $("#modal_viewer").addClass("hidden");
        }
      });
    };

  if (window.addEventListener) {
    window.addEventListener('load', initViewer, false);
  } else if (window.attachEvent) {
    window.attachEvent('onload', initViewer);
  }
</script>

<script type="text/javascript" src="/static/js/openseadragon.min.js" async="async" defer="defer">
</script>
