{% load qs_helper %}
{% load i18n %}

{% if items.has_other_pages %}
    <nav class="pagination-block">
        <ul class="pagination">

            {# First #}
            {% if items.number != 1 %}
                <li class="first btn">
                    <a href="?{% url_replace request 'page' 1 %}">
                      <i class="mdi mdi-chevron-double-left"></i>
                      {% trans "First" %}
                    </a>
                </li>
            {% else %}
                <li class="first btn disabled">
                    <button disabled>
                      <i class="mdi mdi-chevron-double-left"></i>
                      {% trans "First" %}
                    </button>
                </li>
            {% endif %}

            {# Previous #}
            {% if items.has_previous %}
                <li class="prev btn">
                    <a href="?{% url_replace request 'page' items.previous_page_number %}">
                      <i class="mdi mdi-chevron-left"></i>
                      {% trans "Previous" %}
                    </a>
                </li>
            {% else %}
                <li class="prev btn disabled">
                    <button disabled>
                      <i class="mdi mdi-chevron-left"></i>
                      {% trans "Previous" %}
                    </button>
                </li>
            {% endif %}

            {# Pages #}
            {% for i in items.paginator.page_range %}
                {% if items.number == i %}
                    <li>
                        <span class="{{ page.class }}">{{i}}</span>
                    </li>
                {% elif i <= items.number|add:3 and i >= items.number|add:-3 %}
                    <li>
                        <a href="?{% url_replace request 'page' i %}" class="{{ page.class }}">{{i}}</a>
                    </li>
                {% endif %}
            {% endfor %}

            {# Next #}
            {% if items.has_next %}
                <li class="next btn">
                    <a href="?{% url_replace request 'page' items.next_page_number %}">
                      {% trans "Next" %}
                      <i class="mdi mdi-chevron-right"></i>
                    </a>
                </li>
            {% else %}
                <li class="next btn disabled">
                    <button disabled>
                      {% trans "Next" %}
                      <i class="mdi mdi-chevron-right"></i>
                    </button>
                </li>
            {% endif %}

            {# Last #}
            {% if items.number != items.paginator.num_pages %}
                <li class="last btn">
                    <a href="?{% url_replace request 'page' items.paginator.num_pages %}">
                      {% trans "Last" %} ({{ items.paginator.num_pages }})
                      <i class="mdi mdi-chevron-double-right"></i>
                    </a>
                </li>
            {% else %}
                <li class="last btn disabled">
                    <button disabled>
                      {% trans "Last" %} ({{ items.paginator.num_pages }})
                      <i class="mdi mdi-chevron-double-right"></i>
                    </button>
                </li>
            {% endif %}

        </ul>
    </nav>
{% endif %}
