{% load i18n %}

<!-- Static sidebar for desktop -->
<div class="hidden lg:flex lg:w-64 lg:flex-col lg:fixed lg:inset-y-0">
  <!-- Sidebar component, swap this element with another sidebar if you like -->
  <div class="flex flex-col flex-grow bg-theme-700 pt-5 pb-4 overflow-y-auto">
    <div class="flex items-center flex-shrink-0 px-4">
      <img class="h-8 w-auto" src="/static/img/ZJUMAA-Logo.png" alt="ZJUMAA logo" style="filter:brightness(100)">
    </div>
    <nav class="mt-5 flex-1 flex flex-col divide-y divide-theme-800 overflow-y-auto" aria-label="Sidebar">
      <div class="px-2 space-y-1">
        <!-- Current: "bg-theme-800 text-white", Default: "text-theme-100 hover:text-white hover:bg-theme-600" -->
        <a href="/" class="bg-theme-800 text-white group flex items-center px-2 py-2 text-sm leading-6 font-medium rounded-md" aria-current="page">
          <!-- Heroicon name: outline/home -->
          <svg class="mr-4 flex-shrink-0 h-6 w-6 text-theme-200" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"/>
          </svg>
          {% trans "Home" %}
        </a>

        <a href="/items" class="text-theme-100 hover:text-white hover:bg-theme-600 group flex items-center px-2 py-2 text-sm leading-6 font-medium rounded-md">
          <!-- Heroicon name: outline/clock -->
          <svg class="mr-4 flex-shrink-0 h-6 w-6 text-theme-200" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor" aria-hidden="true">
            <path fill="currentColor" d="M21,3H3C2,3 1,4 1,5V19A2,2 0 0,0 3,21H21C22,21 23,20 23,19V5C23,4 22,3 21,3M5,17L8.5,12.5L11,15.5L14.5,11L19,17H5Z" />
          </svg>
          {% trans "Items" %}
        </a>

        <a href="/collections" class="text-theme-100 hover:text-white hover:bg-theme-600 group flex items-center px-2 py-2 text-sm leading-6 font-medium rounded-md">
          <!-- Heroicon name: outline/scale -->
          <svg class="mr-4 flex-shrink-0 h-6 w-6 text-theme-200" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor" aria-hidden="true">
            <path fill="currentColor" d="M11.5,1L2,6V8H21V6M16,10V17H19V10M2,22H21V19H2M10,10V17H13V10M4,10V17H7V10H4Z" />
          </svg>
          {% trans "Collections" %}
        </a>

      </div>
      <div class="mt-6 pt-6">
        <div class="px-2 space-y-1">

          <a href="mailto:shaoshuyu@zju.edu.cn" class="group flex items-center px-2 py-2 text-sm leading-6 font-medium rounded-md text-theme-100 hover:text-white hover:bg-theme-600">
            <!-- Heroicon name: outline/question-mark-circle -->
            <svg class="mr-4 h-6 w-6 text-theme-200" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8.228 9c.549-1.165 2.03-2 3.772-2 2.21 0 4 1.343 4 3 0 1.4-1.278 2.575-3.006 2.907-.542.104-.994.54-.994 1.093m0 3h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"/>
            </svg>
            {% trans "Help" %}
          </a>

          <a href="https://rwsk.zju.edu.cn/rwsken/30508/list.htm" class="group flex items-center px-2 py-2 text-sm leading-6 font-medium rounded-md text-theme-100 hover:text-white hover:bg-theme-600">
            <!-- Heroicon name: outline/shield-check -->
            <svg class="mr-4 h-6 w-6 text-theme-200" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M9 12l2 2 4-4m5.618-4.016A11.955 11.955 0 0112 2.944a11.955 11.955 0 01-8.618 3.04A12.02 12.02 0 003 9c0 5.591 3.824 10.29 9 11.622 5.176-1.332 9-6.03 9-11.622 0-1.042-.133-2.052-.382-3.016z"/>
            </svg>
            {% trans "Privacy" %}
          </a>
        </div>
      </div>
    </nav>
  </div>
</div>
